<div>
    <div class="modal-content">
        <form [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm.value)">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="onExit()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="dialog-sizes-name1" class="modal-title text-center">Share-To-Email</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" formControlName="email" placeholder="Email Address" required>
                <div *ngIf="submitForm.controls.email.errors && submitForm.controls.email.errors['pattern']"
                    class="invalid-feedback">
                    Use a valid email address.
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" [disabled]="!submitForm.valid">Send</button>
                <button type="button" class="btn btn-danger pull-right" (click)="onExit()">Cancel</button>
            </div>
        </form>
    </div>
</div>