<div class="container center">
  <div class="row">

    <div class="form-inline col-lg-7 col-md-7 col-sm-7 col-xs-7">
      <h2>Speech List</h2>
      <div class="form-group">
        <button class="btn btn-success" type="button" (click)="newSpeech()">New Speech</button>
      </div>
      &nbsp;
      <div class="form-group">
        <input class="form-control" type="text" (keyup)="updateFilter($event)" placeholder="Search" />
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col lg-12">
      <ngx-datatable #table class="bootstrap" [columns]="columns" [columnMode]="'flex'" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10" [rows]="rows">
      </ngx-datatable>
    </div>

    <ng-template #colDate let-row="row" ngx-datatable-cell-template>
      <div>{{row.date | date: 'yyyy-MM-dd' }}</div>
    </ng-template>

    <ng-template #colAction let-row="row" let-value="value" ngx-datatable-cell-template>
      <div class="w3-dropdown-click" (mouseleave)="row.showPop = false;">
        <button (click)="row.showPop = true;" class="btn btn-primary btn-block">
          <span class="hidden-xs">Action&nbsp;</span><i class="caret"></i></button>
        <div class="w3-dropdown-content w3-bar-block popborder {{ row.showPop ? 'w3-show' : '' }} ">
            <a [attr.href]="null" class="w3-bar-item item-btn" (click)="viewSpeech(row)">View</a>
            <a [attr.href]="null" class="w3-bar-item item-btn" (click)="shareSpeech(row)">Share</a>
            <a [attr.href]="null" class="w3-bar-item item-btn" (click)="editSpeech(row)">Edit</a>
            <a [attr.href]="null" class="w3-bar-item item-btn" (click)="deleteSpeech(row)">Delete</a>
        </div>
      </div>
    </ng-template>

  </div>
</div>